alabaster==0.7.12
Babel==2.9.1
docutils==0.17.1
gevent==21.1.2
greenlet==1.1.0
gunicorn==22.0.0
imagesize==1.2.0
packaging==20.9
Pygments==2.5.2
pyparsing==2.4.7
snowballstemmer==2.1.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
typing==3.10.0.0
zope.event==4.5.0
zope.interface==5.4.0
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
