alabaster==0.7.12
alembic==1.6.5
asn1crypto==0.24.0
Babel==2.9.1
Beaker==1.9.0
beautifulsoup4==4.6.0
cached-property==1.5.2
certifi==2021.5.30
cftime==1.3.1
chardet==3.0.4
click==7.1.2
coards==1.0.5
configparser==4.0.2
cryptography==2.1.4
Cython==0.27.3
docutils==0.17.1
enum34==1.1.6
flake8==3.5.0
Flask==1.0.2
funcsigs==1.0.2
ga-wsgi-client==0.1
GDAL==2.2.0
Genshi==0.7
GeoAlchemy==0.7.3
GeoAlchemy2==0.9.0
gevent==21.1.2
gitdb2==2.0.6
GitPython==2.1.15
greenlet==1.1.0
gunicorn==19.8.1
h5py==2.7.1
idna==2.6
imagesize==1.2.0
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
Mako==1.1.4
MarkupSafe==1.0
mccabe==0.6.1
modelmeta==0.3.0
nchelpers==5.5.7
netCDF4==1.5.5.1
numpy==1.16.6
olefile==0.46
openid2rp==1.12
packaging==20.9
Paste==2.0.3
pdp-util==1.2.1
Pillow==4.3.0
ply==3.10
psycopg2==2.7.3.2
pupynere-pdp==1.1.6
py==1.5.1
PyCDS==2.2.1
pycodestyle==2.3.1
PyCRS==1.0.2
pycrypto==2.6.1
pydap-pdp==3.2.6
pydap.handlers.csv==0.3
pydap.handlers.hdf5==0.5.2
pydap.handlers.pcic==0.0.11
pydap.handlers.sql==0.10
pydap.responses.aaigrid==0.7
pydap.responses.html==0.3
pydap.responses.netcdf==0.6.0
pydap.responses.xls==0.1
pydap.responses.xlsx==0.1
pyflakes==1.6.0
Pygments==2.5.2
pygobject==3.26.1
pyparsing==2.4.7
pystache==0.5.4
pytest==3.2.5
python-dateutil==2.6.1
python-editor==1.0.4
pytz==2017.3
pyxdg==0.25
PyYAML==4.2b4
requests==2.21.0
SecretStorage==2.3.1
simplejson==3.12.0
six==1.11.0
slimit==0.8.1
smmap==3.0.5
smmap2==3.0.1
snowballstemmer==2.1.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.1.15
sqlparse==0.3.1
static==1.1.1
typing==3.10.0.0
urllib3==1.24.3
WebOb==1.7.3
Werkzeug==0.14.1
xlrd==1.1.0
XlsxWriter==1.0.2
xlwt==1.3.0
zope.event==4.5.0
zope.interface==5.4.0
