Beaker==1.9.0
Cython==0.27.3
Flask==1.0.2
Genshi==0.7
GeoAlchemy==0.7.3
Jinja2==2.10.1
MarkupSafe==1.0
Paste==2.0.3
Pillow==4.3.0
PyCDS==2.2.1
PyYAML==4.2b4
SQLAlchemy==1.1.15
WebOb==1.7.3
Werkzeug==0.14.1
argparse==1.4.0
ga-wsgi-client==0.1
itsdangerous==0.24
modelmeta==0.0.5
numpy  # Allow pip or system install for travis
pdp-util==1.1.0
pydap-pdp==3.2.6
ply==3.10
psycopg2==2.7.3.2
pydap.handlers.csv==0.3
pydap.handlers.pcic==0.0.11
pydap.handlers.sql==0.10
pydap.responses.html==0.3
pystache==0.5.4
python-dateutil==2.6.1
pytz==2017.3
requests==2.21.0
simplejson==3.12.0
six==1.11.0
slimit==0.8.1
static==1.1.1
wsgiref==0.1.2
gitpython==2.1.15

# Data Format Requirements

# GDAL python packages is pushing passed version2, however most
# systems don't have version v1.11 available for install
GDAL==2.2

XlsxWriter==1.0.2
coards==1.0.5
h5py==2.7.1
pupynere-pdp==1.1.6
pydap.handlers.hdf5==0.5.2
pydap.responses.aaigrid==0.7
pydap.responses.netcdf==0.6.0
pydap.responses.xlsx==0.1
xlwt==1.3.0
netCDF4==1.5.5.1
