Beaker==1.9.0
Cython==0.27.3
Flask==1.0.2
Genshi==0.7.5
GeoAlchemy2==0.8.5
Jinja2==2.10.1
MarkupSafe==1.0
Paste==2.0.3
Pillow==4.3.0
PyCDS==2.2.1
PyYAML==4.2b4
SQLAlchemy==1.3.0
WebOb==1.7.3
Werkzeug==0.14.1
argparse==1.4.0
ga-wsgi-client==0.1
itsdangerous==0.24
modelmeta>=0.3.0
numpy  # Allow pip or system install for travis
pdp-util==2.0.0
pydap==3.2.2
ply==3.10
psycopg2==2.8.4
#pydap-extras==
pydap.responses.html==0.3
pystache==0.5.4
python-dateutil==2.6.1
pytz==2017.3
requests==2.21.0
simplejson==3.12.0
six==1.11.0
slimit==0.8.1
static==1.1.1
gitpython==2.1.15

# Data Format Requirements

# GDAL python packages is pushing passed version2, however most
# systems don't have version v1.11 available for install
GDAL==3.0.4

XlsxWriter==1.0.2
coards==1.0.5
h5py==2.7.1
pupynere-pdp==2.0.1
#pydap.responses.aaigrid==0.7
xlwt==1.3.0
netCDF4==1.5.5.1
