<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xml:lang="en" lang="en">
  <head>
    <title>PCIC Hydrologic Data</title>

    <!-- <link type="text/css" href="${app_root}/css/jquery-ui.css" rel="stylesheet" /> -->
    <!-- <link type="text/css" href="${app_root}/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" /> -->
    <link type="text/css" href="${app_root}/js/jquery/css/custom-theme/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link type="text/css" href="${app_root}/css/main.css" rel="stylesheet" />
    <link type="text/css" href="${app_root}/css/hydro.css" rel="stylesheet" />
    <link py:if="'MSIE 7.0' in environ.get('HTTP_USER_AGENT', '')" type="text/css" href="${app_root}/css/ie7.css" rel="stylesheet" />

    <script type="text/javascript">
      // setup paths required in the javascript code
      var gs_url = '${geoserver_url}';
      var ncwms_url = '${ncwms_url}';
      var app_root = '${app_root}';
    </script>

    <script type="text/javascript" src="${app_root}/js/jquery-1.7.1.min.js"></script>
    <!-- <script type="text/javascript" src="${app_root}/js/jquery-ui-1.8.2.custom.min.js"></script> -->
    <!-- FIXME: Download bails using this version of jquery: "Error: Syntax error, unrecognized expression: /sm" -->
    <!-- <script type="text/javascript" src="${app_root}/js/jquery/js/jquery-1.8.0.min.js"></script> -->
    <script type="text/javascript" src="${app_root}/js/jquery/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="${app_root}/js/jq-init.js"></script>
    <script type="text/javascript" src="${app_root}/js/zebra.js"></script>
    <script type="text/javascript" src="${app_root}/js/hydro_map.js"></script>
    <script type="text/javascript" src="${app_root}/js/iemap.js"></script>
    <script type="text/javascript" src="${app_root}/${ol_path}"></script>
    <script type="text/javascript" src="${app_root}/${proj_path}"></script>
    <script type="text/javascript" src="${app_root}/js/OpacitySlider.js"></script>

  </head>
  <body>
    <div id="page">
      <div id="header">
        <a href="http://pacificclimate.org"><img src="${app_root}/images/banner.png" alt="PCIC Logo" /></a>
        <h1>PCIC Hydrologic Data</h1>
      </div><!-- /header -->
      <div id="topnav">
        <ul class="menu">
          <li><a href="http://pacificclimate.org">PCIC Home</a></li>
          <li><a href="http://pacificclimate.org/tools-and-data/datasets">Back to Datasets</a></li>
          <li><a href="${app_root}/auth/pydap/pcds/">Catalogue</a></li>
          <li><a href="">Help</a></li>
        </ul>
      </div><!-- /topnav -->
      <div id="main">
	<div id="map-wrapper">
          <div id="hydro_map">
            <!-- <div id="map-buttons"> -->
            <!--   <form action="/" method="post"> -->
	    <!-- 	<fieldset> -->
            <!--       <input id="legend" type="button" value="View Legend" /> -->
            <!--       <input id="metadata" type="button" value="View Metadata" /> -->
	    <!-- 	</fieldset> -->
            <!--   </form> -->
            <!-- </div>     -->
	    <div id="scaleline-id"></div>

	    <div id="hydro_footer">
              <div id="bottomnav">
		<ul class="menu">
                  <li><a href="">Disclaimer</a></li>
                  <li><a href="">Terms of Use</a></li>
		</ul>
              </div>
              <div id="hydro_location"></div>
	    </div><!-- /footer -->
          </div>
        </div>
	<div style="float:right">
	  <form id="select_data" method="post" name="data_model_filters" action="">
	    <fieldset>
	      <legend>Select Data</legend>
              <div id="model">
                <label>GCM</label><span class="helplink"><a id="model-link" title="View table of model names" href="/">[?]</a></span>
                <select id="input-model" name="input-model">
                  <option value="cccma_cgcm3" selected="selected">CCCMA CGCM 3.1 T47</option>
		  <option value="csiro35">CSIRO MK 3.0</option>
		  <option value="gfdl">GFDL CM 2.1</option>
		  <option value="miroc_3.2">CCSR MIROC 3.2 (medres)</option>
		  <option value="echam5">MPI ECHAM5</option>
		  <option value="ccsm3">NCAR CCSM3.0</option>
		  <option value="hadcm">UKMO HADCM3</option>
		  <option value="hadgem1">UKMO HADGEM1</option>
		</select>
              </div>
              <div id="scenario">
		<label>Emission Scenario</label><span class="helplink"><a id="frequency-link" title="View scenario explanations" href="/">[?]</a></span>
		<select id="input-scenario" name="input-scenario">
                  <option value="A2" selected="selected">A2</option>
                  <option value="A1B">A1B</option>
                  <option value="B1">B1</option>
		</select>
              </div>
              <div id="variables">
                <label>Hydrologic Variable</label> <span class="helplink"><a class="helplink" id="variables-link" title="View variable definitions" href="/">[?]</a></span>
                <select id="input-variable" name="input-variable">
		  <option value="sm" selected="selected">Soil Moisture</option>
		  <option value="aet">Water Evaporation</option>
		  <option value="R">Runoff</option>
		  <option value="bf">Subsurface Runoff</option>
		  <option value="swe">Surface Snow</option>
                </select>
                <div id="variables-defs">
                  <dl>
                    <dt>Temperature (Mean)</dt>
                    <dd>Mean temperature refers to the average of temperature measurements taken at a measurement frequency 
                      greater or equal to that of the native data frequency. Generally, temperature measurements are taken at 1.5 m to 2 m
                      above ground level. However, for many networks, this height changes as snow levels rise in winter. Often, 
                      precise indications of actual sensor height are not availble.</dd>
                  </dl>
                </div>
              </div>
	    </fieldset>
	  </form>
          <form id="filter" method="post" name="station_filters" action="">
            <fieldset>
              <legend>Select Time</legend>
	      <div id="display-time">
		<label>Display Date</label>
		<input class="datepicker" id="display-date" name="display-date" type="text" value="1950/01/01" />
	      </div>
            </fieldset>
            <fieldset>
              <legend>Download Data</legend>
              <div id="date-range">
                <label>Date Range</label>
                <input class="datepickerstart" id="from-date" name="from-date" type="text" value="YYYY/MM/DD" /> to
                <input class="datepickerend" id="to-date" name="to-date" type="text" value="YYYY/MM/DD" />
		<input type="hidden" id="input-polygon" name="input-polygon" value="" />
              </div>
              <div id="data-format">
		<label>Output Format</label><span class="helplink"><a id="format-link" title="View output format descriptions" href="/">[?]</a></span>
		<select name="data-format">
                  <option value="csv">CSV</option>
                  <option value="ascii">ASCII</option>
                  <!--<option value="excel">MS Excel</option>-->
                  <option value="nc" selected="selected">NetCDF</option>
                  <!--<option value="matlab">Matlab 5</option>-->
		</select>
		<div id="format-defs">
                  <dl>
                    <dt>CSV</dt>
                    <dd>CSV stands for Comma Separated Values. This format is a human readable list of data typically with a time stamp, observational value, and flags with one line per observation time. Each observation is separated by commas. </dd>
                    <dt>ASCII</dt>
                    <dd>ASCII data are also in a text format with a identical data organization as the CSV data.</dd>
                    <dt>MS Excel</dt>
                    <dd>This data format is compatible with many popular spreadsheet programs such as Open Office, Libre Office and Microsoft Excel. Data organization is similar to CSV, but the format is more directly readable with spreadsheet software.</dd>
                    <dt>NetCDF</dt>
                    <dd>Net CDF is a self-describing file format widely used in the atmospheric sciences. Self describing means that the format information is contained within the file itself, so generic tools can be used to import these data. The format requires use of freely available applications to view, import, and export the data.</dd>
                    <dt>Matlab 5</dt>
                    <dd>This will output an array that may be imported in the the Mathworks' Matlab computational software.</dd>
                  </dl>
		</div>
              </div>
              <div class="download-buttons">
                <input type="button" id="timeseries" value="Timeseries" name="download-timeseries" />
              </div>
            </fieldset>
          </form>
	</div>
      </div><!-- /main -->
    </div><!-- /page -->
  </body>
</html>
