<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xml:lang="en" lang="en">
  <head>
    <title>${title}</title>
    <py:for each="entry in css_files">
      <link type="text/css" href="${app_root}/${entry}" rel="stylesheet" />
    </py:for>
      
    <script type="text/javascript">
    var tcUrls = new Array();
    <py:for each="url in tilecache_url">
      tcUrls.push('${url}');
    </py:for>    
    var ncwmsUrls = new Array();
    <py:for each="url in ncwms_url">
      ncwmsUrls.push('${url}');
    </py:for>
      var pdp = {
        VERSION: '0.1',
        app_root: '${app_root}',
        data_root: '${data_root}',
        gs_url: '${geoserver_url}',
        ncwms_url: ncwmsUrls,
        tilecache_url: tcUrls,
        ensemble_name: '${ensemble_name}'     
      };
    
    </script>

    <py:for each="entry in js_files">
      <script type="text/javascript" src="${app_root}/${entry}"></script>
    </py:for>
  </head>

  <body>
    <div id="wrapper">
    <div id="header">
      <a href="http://pacificclimate.org"><img src="${app_root}/images/banner.png" alt="PCIC Logo" /></a>
      <h1>${title}</h1>
      <div style="clear"></div>
      <div id="topnav">
      <!-- TODO: populate from js -->        
        <ul class="menu">
          <li><a href="http://pacificclimate.org">PCIC Home</a></li>
          <li><a href="${app_root}/docs/" target="_blank">User Docs</a></li>
        </ul>
	    <div id="login-div" style="visibility:hidden"></div>
      </div><!-- /topnav -->
    </div><!-- /header -->
    <div id="main">
      <div id="map-wrapper">
        <div class="relative">
          <div id="pdp-map"></div>
          <div id="map-title"></div>
          <div id="location"></div>
	  <div id="pdpColorbar"></div>
	</div>
      </div>
      <div id="pdp-controls"></div>
    </div><!-- /main -->
    
    <div id="footer">
      <!-- TODO: populate with js -->
        <ul class="menu">
          <li>PCIC Data Portal version ${version} (${revision})</li>
          <li><a href="http://www.pacificclimate.org/terms-of-use/">Terms of Use</a></li>
        </ul>
    </div><!-- /footer -->
    </div><!-- /wrapper -->
  </body>
</html>
