<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xml:lang="en" lang="en">
<head>
<title>${title}</title>

<link type="text/css" href="${app_root}/css/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="${app_root}/css/main.css" rel="stylesheet" />
<link py:if="'MSIE 7.0' in environ.get('HTTP_USER_AGENT', '')" type="text/css" href="${app_root}/css/ie7.css" rel="stylesheet" />

<script type="text/javascript">
<?python
import json
?>
// setup paths required in the javascript code
var gs_url = '${geoserver_url}';
var app_root = '${app_root}';
var signupUrls = ${json.dumps(map(lambda p: p.signup, providers))};
</script>
${header_block}
<script type="text/javascript" src="${app_root}/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="${app_root}/js/jquery-ui.js"></script>
<script type="text/javascript" src="${app_root}/js/jq-init.js"></script>
<script type="text/javascript" src="${app_root}/js/zebra.js"></script>
<script type="text/javascript" src="${app_root}/js/crmp_mapbox.js"></script>
<script type="text/javascript" src="${app_root}/js/wfs_req.js"></script>
<script type="text/javascript" src="${app_root}/js/iemap.js"></script>
<script type="text/javascript" src="${app_root}/js/pcds_filters.js"></script>
<script type="text/javascript" src="${app_root}/js/map_everything.js"></script>
<script type="text/javascript" src="${app_root}/${ol_path}"></script>
<script type="text/javascript" src="${app_root}/${proj_path}"></script>
<script type="text/javascript" src="${app_root}/js/auth.js"></script>
<script type="text/javascript" src="${app_root}/js/cookies.js"></script>

</head>
<body>
    <div id="page">
    <div id="header">
        <a href="http://pacificclimate.org"><img src="${app_root}/images/banner.png" alt="PCIC Logo" /></a>
        <h1>CRMP Network Data</h1>
    </div><!-- /header -->
    <div id="topnav">
        <ul class="menu">
            <li><a href="http://pacificclimate.org">PCIC Home</a></li>
            <li><a href="http://pacificclimate.org/tools-and-data/">Back to Tools and Data</a></li>
            <li><a href="${app_root}/auth/pydap/pcds/">Catalogue</a></li>
            <li><a href="http://pacificclimate.org/pcds-faq/" target="_blank">FAQ</a></li>
        </ul>
	<div id="login-div">
	  <a id="login-button" />
	</div>
    </div><!-- /topnav -->
    <div id="main">
        <div id="map-wrapper">
            <div id="${map_div}">
                <div id="map-buttons">
                    <form action="/" method="post">
                      <input py:for="id, value in buttons" id="${id}" type="button" value="${value}" />
                    </form>
                </div>    
            </div>
        </div>
        <form id="filter" method="get" name="station_filters" action="${app_root}/auth/agg">
            <fieldset>
                <legend>Filter Options</legend>
                <div id="date-range">
                <label>Date Range</label>
                <input class="datepickerstart" id="from-date" name="from-date" type="text" value="YYYY/MM/DD" /> to
                <input class="datepickerend" id="to-date" name="to-date" type="text" value="YYYY/MM/DD" />
		<input type="hidden" id="input-polygon" name="input-polygon" value="" />
                </div>
                <div id="variables">
                <label>Climate Variable</label> <span class="helplink"><a class="helplink" id="variables-link" title="View variable definitions" href="/">[?]</a></span>
                <select id="input-var" name="input-var">
		  <option value="" selected="selected">All</option>
                  <option value="lwe_thickness_of_precipitation_amount_sum">Precipitation Amount</option>
                  <option value="air_temperature_mean">Temperature (Mean)</option>
                  <optgroup label="Temperature" />
		  <option value="air_temperature_minimum">Temperature (Min.)</option>
                  <option value="air_temperature_maximum">Temperature (Max.)</option>
                  <option value="air_temperature_point">Temperature (Point)</option>
		  <option value="air_temperaturet: mean within days t: mean within months t: mean over years">Temperature Climatology (Mean)</option>
		  <option value="air_temperaturet: minimum within days t: mean within months t: mean over years">Temperature Climatology (Min.)</option>
		  <option value="air_temperaturet: maximum within days t: mean within months t: mean over years">Temperature Climatology (Max.)</option>
                  <optgroup label="Precipitation" />
		  <option value="lwe_thickness_of_precipitation_amountt: sum within months t: mean over years">Precipitation Climatology</option>
                  <option value="lwe_thickness_of_precipitation_sum">Precipitation (Cumulative)</option>
                  <option value="thickness_of_rainfall_amount">Rainfall Amount</option>
                  <option value="thickness_of_snowfall_amount">Snowfall Amount</option>
                  <option value="surface_snow_thickness_point">Surface Snow Depth</option>
                  <optgroup label="Humidity" />
                  <option value="relative_humidity_mean">Relative Humidity (Mean)</option>
                  <option value="relative_humidity_minimum">Relative Humidity (Min.)</option>
                  <option value="relative_humidity_maximum">Relative Humidity (Max.)</option>
                  <option value="relative_humidity_point">Relative Humidity (Point)</option>
		  <option value="dew_point_temperature_point">Dew Point Temperature (Point)</option>
		  <option value="dew_point_temperature_mean">Dew Point Temperature (Mean)</option>
                  <optgroup label="Wind" />
                  <option value="wind_speed_mean">Wind Speed (Mean)</option>
                  <option value="wind_speed_minimum">Wind Speed (Min.)</option>
                  <option value="wind_speed_maximum">Wind Speed (Max.)</option>
                  <option value="wind_speed_point">Wind Speed (Point)</option>
                  <option value="wind_speed_of_gust">Wind Gust (Max.)</option>
                  <option value="wind_from_direction_mean">Wind Direction (Mean)</option>
                  <option value="wind_from_direction_point">Wind Direction (Point)</option>
                  <option value="wind_from_direction_standard_deviation">Wind Direction (Std Dev)</option>
                  <optgroup label="Miscellaneous" />
                  <option value="air_pressure_point">Air Pressure (Point)</option>
                  <option value="tendency_of_air_pressure_sum">Air Pressure Tendency</option>
                  <option value="duration_of_sunshine_sum">Sunshine Duration</option>
                  <option value="cloud_area_fraction_point">Cloud Cover Fraction</option>
                  <option value="mean_sea_level_point">Mean Sea Level</option>
                  <option value="surface_downwelling_shortwave_flux_mean">Incoming Shortwave</option>
                  <option value="volume_fraction_of_condensed_water_in_soil_point">Soil Moisture</option>
                </select>
                <div id="variables-defs">
                    <dl>
                        <dt>Temperature (Mean)</dt>
                        <dd>Mean temperature refers to the average of temperature measurements taken at a measurement frequency 
                        greater or equal to that of the native data frequency. Generally, temperature measurements are taken at 1.5 m to 2 m
                        above ground level. However, for many networks, this height changes as snow levels rise in winter. Often, 
                        precise indications of actual sensor height are not availble.</dd>
                        <dt>Precipitation Amount</dt>
                        <dd>Precipitation amount is the total of precipitation over an observational period regardless of precipitation 
                        type. Where snowfall occurs, this is intended to be the total water equivalent precipitation amount.</dd>
                        <dt>Temperature (Min.)</dt>
                        <dd>Minimum temperature is the minimum temperature value observed during the observation interval.</dd>
                        <dt>Temperature (Max.)</dt>
                        <dd>Maximum temperature is the minimum temperature value observed during the observation interval.</dd>
                        <dt>Temperature (Point)</dt>
                        <dd>Temperature measured instantaneosly at the observation time.</dd>
                        <dt>Temperature Climatology (Mean)</dt>
			<dd>This is the climatological average for mean daily air temperature averaged for all days in a month and for all years for a given month.</dd>
                        <dt>Temperature Climatology (Min.)</dt>
			<dd>This is the climatological average for minimum daily air temperature averaged for all days in a month and for all years for a given month.</dd>
                        <dt>Temperature Climatology (Max.)</dt>
			<dd>This is the climatological average for maximum daily air temperature averaged for all days in a month and for all years for a given month.</dd>
                        <dt>Precipitation Climatology</dt>
			<dd>This is the climatological average for monthly total precipitation averaged across all years for a given month.</dd>
			<dt>Precipitation (Cumulative)</dt>
                        <dd>Precipitation accumulated in an instrument gauge between manual or automatic purging of the gauge. Such guages are often installed in locations where opportunities to empty the gauge are rare. Because of this, cumulative precipitation amounts are subject to inaccuracies due to evaporation, snow capping or other precipitation loss.</dd>
                        <dt>Rainfall Amount</dt>
                        <dd>Liquid precipitation accumulated over the observational period defined by the observational frequency.</dd>
                        <dt>Snowfall Amount</dt>
                        <dd>Solid precipitation accumulated over the observational period defined by the observational frequency.</dd>
                        <dt>Surface Snow Depth</dt>
                        <dd>Depth of snow on the ground at the time of observation.</dd>
                        <dt>Relative Humidity (Mean)</dt>
                        <dd>The percent saturation of the atmosphere with respect to water vapor averaged across all measurements taken over the observational period as defined by the observational frequency.</dd>
                        <dt>Relative Humidity (Min.)</dt>
                        <dd>The percent saturation of the atmosphere with respect to water vapor as a minimum across all measurements taken over the observational period as defined by the observational frequency.</dd>
                        <dt>Relative Humidity (Max.)</dt>
                        <dd>The percent saturation of the atmosphere with respect to water vapor as a maximum across all measurements taken over the observational period as defined by the observational frequency.</dd>
                        <dt>Relative Humidity (Mean)</dt>
                        <dd>The instantaneous percent saturation of the atmosphere with respect to water vapor at the observation time.</dd>
                        <dt>Dew Point Temperature (Point)</dt>
                        <dd>The instantaneous temperature, for a given atmospheric water vapor content, at which an airmass becomes saturated with respect to water vapor and condensation may occur.</dd>
                        <dt>Dew Point Temperature (Mean)</dt>
                        <dd>The temperature, for a given atmospheric water vapor content, at which an airmass becomes saturated with respect to water vapor and condensation may occur. Averaged across all measurements taken over the observational period as defined by the observational frequency.</dd>
                        <dt>Wind Speed (Mean)</dt>
                        <dd>Scalar speed of wind averaged over all measurements taken over the observational period as defined by the observational frequency.</dd>
                        <dt>Wind Speed (Min.)</dt>
                        <dd>Minimum scalar speed of wind observed from all measurements taken over the observational period as defined by the observational frequency.</dd>
                        <dt>Wind Speed (Max.)</dt>
                        <dd>Maximum scalar speed of wind observed from all measurements taken over the observational period as defined by the observational frequency.</dd>
                        <dt>Wind Speed (Point)</dt>
                        <dd>The instantaneous scalar speed of wind observed at the observation time.</dd>
                        <dt>Wind Gust (Max.)</dt>
                        <dd>Similar to maximum wind speed. Max wind gust often has a duration requirement that's different than maximum wind speed.</dd>
                        <dt>Wind Direction (Mean)</dt>
                        <dd>The instantaneous direction of from which the wind blows in degrees.</dd>
                        <dt>Wind Direction (Point)</dt>
                        <dd>Direction of from which the wind blows in degrees. Averaged across all measurements taken over the observational period as defined by the observational frequency.</dd>
                       	<dt>Air Pressure (Point)</dt>
                        <dd>Atmospheric pressure at station elevation in units of mb.</dd>
                        <dt>Air Pressure Tendency</dt>
			<dd>Magnitude and sign of the rate of change of atmospheric pressure.</dd>
			<dt>Sunshine Duration</dt>
                        <dd>Number of hours of bright sunshine recorded over the observational period typically stated as over a single day.</dd>
			<dt>Cloud Cover Fraction</dt>
			<dd>Fraction of sky hemisphere obscured by clouds.</dd>
			<dt>Mean Sea Level</dt>
			<dd>Water level of ocean relative to reference sea level datum. Typically indicates tide stade.</dd>
			<dt>Incoming Shortwave</dt>
			<dd>Shortwave, solar radiation directed toward the earth's surface.</dd>
			<dt>Soil Moisture</dt>
			<dd>Amount of moisture in soils as a fraction of unit soil volume.</dd>
                    </dl>
                </div>
                </div>
                <div id="network-name">
                <label>Network Name</label><span class="helplink"><a id="network-link" title="View table of network names" href="/">[?]</a></span>
                <select id="input-network" name="network-name">
                  <option value="" selected="selected">All</option>
                  <option py:for="network, _ in networks">${network}</option>
                </select>
               <div id="network-defs">
                    <table>
                        <tr>
                            <th>Color</th>
                            <th>Network ID</th>
                            <th>Network Name</th>
                        </tr>
			<tr py:for="netname, netdesc in networks">
			  <td><img src="${app_root}/images/legend/${netname.lower()}.png" /></td>
			  <td>${netname}</td>
			  <td>${netdesc}</td>
			</tr>
                    </table>
               </div>
               </div>
               <div id="frequency">
               <label>Observation Frequency</label><span class="helplink"><a id="frequency-link" title="View frequency explanations" href="/">[?]</a></span>
               <select id="input-freq" name="input-freq">
                   <option value="" selected="selected">Any</option>
                   <option value="1-hourly">Hourly</option>
                   <option value="daily">Daily</option>
                   <option value="12-hourly">Semi-daily</option>
                   <!--<option value="monthly">Monthly</option>-->
                   <option value="irregular">Irregular</option>
               </select>
               <div id="frequency-defs">
                <dl>
                    <dt>Hourly</dt>
                    <dd>Measurements made or averaged or summed at an hourly interval. For point measurements, these observations were taken on or near to the hour.</dd>
                    <dt>12-hourly</dt>
		    <dd>Measurements made or averaged at 12 hour intervals or semi-daily. These are often manually made, point measurements.</dd>
		    <dt>Daily</dt>
                    <dd>Measurements made or averaged or summed at a daily interval. There typically are not point measurements at a daily interval.</dd>
                    <dt>irregular</dt>
		    <dd>Measurement frequency changes either due to changes in network operations or by virtue of instrument type and remoteness of location.</dd>
		    <!--<dt>Monthly</dt>
                    <dd>Measurements made or averaged or summed at a monthly interval. There typically are not point measurements at a monthly interval.</dd>-->
                </dl>
               </div>
               </div>
               <div id="with-climatology">
                    <input type="checkbox" value="only-with-climatology" name="only-with-climatology" id="input-climatology"/>
                    <label>Only include stations with 1971-2000 climatology</label>
               </div>
               <h3>Selection Information:</h3>
               <!-- feedback to user -->
               <textarea id="infobox" readonly="readonly">
Selected 0 stations
Selected 0 observations
Selected 0 climatologies
               </textarea>
               <div id="reset">
                    <input id="filter-reset" type="button" value="Reset Filters" />
               </div>
           </fieldset>
           <fieldset>
               <legend>Download Data</legend>
               <div id="data-format">
               <label>Output Format</label><span class="helplink"><a id="format-link" title="View output format descriptions" href="/">[?]</a></span>
               <select name="data-format">
                   <option value="csv" selected="selected">CSV</option>
                   <option value="ascii">ASCII</option>
                   <option value="xls">MS Excel</option>
                   <option value="nc">NetCDF</option>
                   <!-- <option value="matlab">Matlab 5</option>-->
               </select>
               <div id="format-defs">
                <dl>
                    <dt>CSV</dt>
                    <dd>CSV stands for Comma Separated Values. This format is a human readable list of data typically with a time stamp, observational value, and flags with one line per observation time. Each observation is separated by commas. </dd>
                    <dt>ASCII</dt>
                    <dd>ASCII data are also in a text format with a identical data organization as the CSV data.</dd>
                    <dt>MS Excel</dt>
                    <dd>This data format is compatible with many popular spreadsheet programs such as Open Office, Libre Office and Microsoft Excel. Data organization is similar to CSV, but the format is more directly readable with spreadsheet software.</dd>
                    <dt>NetCDF</dt>
                    <dd>Net CDF is a self-describing file format widely used in the atmospheric sciences. Self describing means that the format information is contained within the file itself, so generic tools can be used to import these data. The format requires use of freely available applications to view, import, and export the data.</dd>
                    <!-- <dt>Matlab 5</dt>
                    <dd>This will output an array that may be imported in the the Mathworks' Matlab computational software.</dd>-->
                </dl>
               </div>
               </div>
               <div id="cliptodate">
                    <input name="cliptodate" type="checkbox" checked="checked" value="cliptodate" />
                    <label>Clip time series to filter date range</label>
               </div>
               <div class="download-buttons">
                    <input type="submit" id="climatology" value="Climatology" name="download-climatology" />
                    <input type="submit" id="timeseries" value="Timeseries" name="download-timeseries" />
               </div>
           </fieldset>
        </form>
    </div><!-- /main -->
    <div id="nodelist">
        <!-- metadata table -->
        <form method="post" action="">
            <fieldset>
            <div id="metadata-format">
              <label>Output Format:</label> 
	      <select name="metadata-format">
		<option>Select one</option>
		<optgroup label="WFS">
		  <option value="csv">CSV</option>
		  <option value="GML2">GML2</option>
		  <option value="GML2-GZIP">GML2-GZIP</option>
		  <option value="text/xml; subtype=gml/3.1.1">GML3.1</option>
		  <option value="text/xml; subtype=gml/3.2">GML3.2</option>
		  <option value="json">GeoJSON</option>
		  <option value="SHAPE-ZIP">Shapefile</option>
		</optgroup>
		<optgroup label="WMS">
		  <option value="application/atom+xml">AtomPub</option>
		  <option value="image/gif">GIF</option>
		  <option value="application/rss+xml">GeoRSS</option>
		  <option value="image/geotiff">GeoTiff</option>
		  <option value="image/geotiff8">GeoTiff 8-bits</option>
		  <option value="image/jpeg">JPEG</option>
		  <option value="application/vnd.google-earth.kmz+xml">KML (compressed)</option>
		  <option value="application/vnd.google-earth.kml+xml">KML (plain)</option>
		  <option value="application/openlayers">OpenLayers</option>
		  <option value="application/pdf">PDF</option>
		  <option value="image/png">PNG</option>
		  <option value="image/png8">PNG 8bit</option>
		  <option value="image/svg+xml">SVG</option>
		  <option value="image/tiff">Tiff</option>
		  <option value="image/tiff8">Tiff 8-bits</option>
		</optgroup>
	      </select>
            </div>
            <div class="download-buttons" id="download-buttons">
                <input type="button" value="Download" />
            </div>
            </fieldset>
        </form>
	<div id="stationList"></div>
    </div>
    <div id="login-form">
      <form method="get" name="login" action="">
	<div id="close-login">
	  <button></button>
	</div>
	<fieldset>
	  <legend>Login</legend>
	  <div id="login-or-signup">
            <label>OpenID Provider</label>
	    <div>
              <select name="openid-provider">
		<option py:for="p in providers" value="${p.url}">${p.name}</option>
              </select>
	    </div>
	    <div>
	      <input id="do-login" type="button" value="Open login window" />
	    </div>
	    <div>
	      --- or ---
	    </div>
	    <div>
	      <input id="do-signup" type="button" value="Open sign up window" />
	    </div>
	  </div>
	</fieldset>
	<fieldset>
	  <legend>How it works</legend>
	  <p>Click "Login" to use an existing OpenID account. A new window will open asking you to sign in with the account provider. Once signed in, you will be returned to the data portal. PCIC uses OpenID to allow us to communicate with users via e-mail. If you don't have an OpenID account, click "Sign up". For information about OpenID click <a href="http://openid.net/get-an-openid/what-is-openid/">here</a></p>
	</fieldset>
	<fieldset>
	  <legend>Why do you want my e-mail address?</legend>
	  <p>PCIC will use your address only to contact you in the event major errors  are found in the data or when major changes to the data in the portal are made. Your e-mail address is the only personal information that PCIC will gather and will be kept secure.</p>
	</fieldset>
      </form>
    </div>
    <div id="footer">
        <div id="bottomnav">
            <ul class="menu">
	      <li>PCIC Data Portal version ${version}</li>
              <li><a href="http://www.pacificclimate.org/pcds-disclaimer/">Disclaimer</a></li>
              <li><a href="http://www.pacificclimate.org/terms-of-use/">Terms of Use</a></li>
            </ul>
        </div>
	<div id="location"></div>
    </div><!-- /footer -->
    </div><!-- /wrapper -->
</body>
</html>
