div.control {
    padding: 1em 0;
    font-size: 1.0833em;
}

fieldset {
    border: 1px solid #69a1ba;
    padding: 0.8333em 0.8333em 0.8333em 0.8333em;
}

legend {
    font-size: 1.5em;
    color: #69a1ba;
}

label {
    display: block;
    margin: 0.375em;
    color: #000;
}

select, input[type=text] {
    border: 1px solid #c8c8c8;
    background-color: #fff;
    color: #004360;
}

input[type="checkbox"] {
    border: none;
}

input[type=button], input[type=reset] {
    border: 1px solid #69a1ba;
    color: #fff;
    background-color: #69a1ba;
    padding: 1px;
    font-size: 12px;
    text-align: center;
    margin: 5px auto;
    width: 100px;
}

input[type=button]:hover, input[type=reset]:hover {
    border: 1px solid #69a1ba;
    color: #004360;
    background-color: #fff;
}

select {
    width: 80%;
}

#date-range input {
    width: 80px;
}


/* hide dialog content divs */
#variables-defs,
#network-defs,
#frequency-defs,
#format-defs,
#nodelist {
    display: none;
}

#network-defs table {
    border-collapse: collapse;
}

#network-defs tr {
    border: none;
    margin-bottom: 5px;
}

#network-defs th, td {
    padding: 2px 10px 2px 2px;
}

#network-defs td {
    vertical-align: top;
}

#network-defs th {
    text-align: left;
}

#network-defs table tr.odd {
    background-color: #e8edef !important;
}

#with-climatology {
	margin-bottom: 10px;
}

#with-climatology input,
#cliptodate input {
	float: left;
	width: 10%;
}

#with-climatology label,
#cliptodate label {
    float: right;
    width: 90%;
}

#infobox {
    margin-top: 3px;
    height: 80px;
    width: 100%;
    border: 1px solid #c8c8c8;
    color: #004360;
    overflow: auto;
}

#nodelist #metadata-format,
#nodelist .download-buttons,
#nodelist #metadata-format label {
    float: left;
    margin-right: 5px;
}

#nodelist input {
    position: relative;
    bottom: 5px;
}

span.helplink {
	float: right;
	font-size: 1.23em;
}
span.helplink a {
    text-decoration: none;
}
