div.control {
    padding: 1em 0;
    font-size: 1.1667em;
}

fieldset {
    border: 1px solid #69a1ba;
    padding: 0.8333em;
}

.control fieldset div {
    margin: 0.5em 0;
}

legend {
    font-size: 1.5em;
    color: #69a1ba;
}

.control label {
    display: block;
    margin-bottom: 0.375em;
}

.control div.stn_remove {
    float: left;
    color: #004361;
    margin: 0 0.5em 0 0;
}
.control div.stn_remove:hover {
    color: #fff;
    cursor: pointer;
    background-color: #004361;
    margin: 0 0.5em 0 0;
}

select, input[type=text] {
    border: 1px solid #c8c8c8;
    background-color: #fff;
    color: #004360;
}

input[type="checkbox"] {
    border: none;
}

input[type=button], input[type=reset] {
    border: 1px solid #69a1ba;
    color: #fff;
    background-color: #69a1ba;
    padding: 1px 0;
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
}

.control input[type=button], input[type=reset] {
    width: 32%;
}

input[type=button]:hover, input[type=reset]:hover {
    border: 1px solid #69a1ba;
    color: #004360;
    background-color: #fff;
}

select {
    width: 80%;
}

#date-range input {
    width: 8em;
}

#date-range input:disabled {
    color: #808080;
    background-color: #F2F2F2;
}

#date-range-messages {
    margin-left: 1em;
    font-size: 0.9em;
}

#date-range-messages .inactive {
    display: none;
}

#date-range-error-messages {
    color: red;
}

#download-all-time input[type="checkbox"] {
    width: 1.5em;
}

#download-all-time label, #download-all-time input {
    display: inline;
    vertical-align: middle;
}

/* hide dialog content divs */
#variables-defs,
#network-defs,
#frequency-defs,
#format-defs,
#nodelist {
    display: none;
}

#network-defs table {
    border-collapse: collapse;
}

#network-defs tr {
    border: none;
    margin-bottom: 5px;
}

#network-defs th, td {
    padding: 2px 10px 2px 2px;
}

#network-defs td {
    vertical-align: top;
}

#network-defs th {
    text-align: left;
}

#network-defs table tr.odd {
    background-color: #e8edef !important;
}

#with-climatology {
	margin-bottom: 10px;
}

#with-climatology input,
#cliptodate input {
	float: left;
}

#infobox {
    margin-top: 3px;
    height: 80px;
    width: 100%;
    border: 1px solid #c8c8c8;
    color: #004360;
    overflow: auto;
}

#nodelist #metadata-format,
#nodelist .download-buttons,
#nodelist #metadata-format label {
    float: left;
    margin-right: 5px;
}

#nodelist input {
    position: relative;
    bottom: 5px;
}

span.helplink {
	float: right;
	font-size: 1.23em;
}
span.helplink a {
    text-decoration: none;
}

#download-links {
    text-align: center;
}

#download-links a {
    margin: 5px;
}
