#header img {
    float: left;
}

#header h1 {
    text-align: right;
    font-size: 2.5em;
    line-height: 1.2em;
}

#header #topnav {
    font-size: 1.0833em;
    clear: both;
    margin-top: 1em;
}

#login-div {
    float: right;
}

#topnav li{
    float: left;
    margin-right: 1em;
}