#login-button {
    text-decoration: underline;
}
#logout-button {
    text-decoration: underline;
}
#login-button:hover, #login-button:active {
    text-decoration: none;
    color: #000;
}

#login-or-signup div, label {
    text-align: center;
    margin-top: 0px;
}

#login-dialog button {
    margin-right: 1em;
}

#close-login {
    text-align: right;
    margin-top: 2px;
    margin-right: 2px;
}
