/* apply box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
 }

html {
    font-size: 100%;
}

body {
    font: 1em/1.5em Arial, Verdana, sans-serif;
    color: #000;
    background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    color: #69a1ba;
    display: block;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

p {
    margin-bottom: 1.5em;
    color: #424242;
}

img {
    border: none;
}

a {
    color: #004360;
}

a:link, a:visited {
    color: #004360;
}

a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

dt {
    font-weight: bold;  
}

dd {
    margin-left: 1em;
    margin-bottom: 1em;
}





.invisible {
    visibility: hidden;
}

/* Top level page items */

#wrapper {
    position: fixed;
    top: 0; right: 0.5em; bottom: 0; left: 0.5em;
    margin: 0 auto;
    min-width: 83.3333em;
    max-width: 155em;
    font-size: 0.75em;
    line-height: 1.5em;
}

#header, #footer {
    padding: 1em 1em 0 1em;
}

#header {
    position: absolute;
    left: 0; right: 29.1667em;
    height: 6em;
    min-width: 83.3333em;
}

#main {
    position: absolute;
    top: 6em;
    bottom: 2em;
    right: 0;
    left: 0;
    padding: 1em;
}

#map-wrapper {
    position: absolute;
    top: 0; right: 29.1667em; bottom: 0; left: 0;
    padding: 1em 1em 0em 1em;
}

#pdp-map {
    position:absolute;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
}

#pdp-controls {
    position: absolute;
    width: 29.1667em;
    top: 0; right: 0; bottom: 0;
    overflow: auto;
    padding: 0 1em;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 2em;
    overflow: hidden;
}

div.relative {
    position: relative;
    width: 100%;
    height: 100%;
}

div.clear {
    clear: both;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}