/* Map Elements */

#location {
    position: absolute;
    bottom: -1.6em;
    right: 0;
    margin-left: 10px;
}

#map-buttons {
    position: absolute;
    top: 2px;
    right: 100px;
    z-index: 10000;
}

#map-title {
    position: absolute;
    bottom: 1.5em;
    right: 0;


/* background */
    padding: 5px 10px;
    background-color: white;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-radius-topleft: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

div.olPopup {
    -moz-border-radius: 1em 0 0 0;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
}

#map-buttons input {
    margin-right: 3px;
    border-color: #fff;
}

#map-wrapper #loading {
    width: 6em;
    height: 9em;
    position: absolute;
    left: 6em;
    top: 2em;
    padding-top: 1em;
    background: white;
    opacity:0.4;
    filter:alpha(opacity=40);
    -webkit-border-radius: 0.8333em;
    -khtml-border-radius: 0.8333em;
    -moz-border-radius: 0.8333em;
    border-radius: 0.8333em;
}

#map-wrapper #loading p {
    padding-top: 1em;
}

div.olMapViewport {
    background-image: url(../images/water.png);
}

div.olPopupContent {
    padding:0.4167em;
    overflow: auto;
    padding-bottom:0;
}

div.olControlAttribution {
    position: absolute;
    bottom: 0;
    right: 0.25em;
}

div.olMapViewport {
    line-height: 1em;
}

div.opacitySliderContainer {
    position: absolute;
    bottom: 4em;
    opacity:0.75;
    background-color: #000080;
    color: white;
    z-index: 1010;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-radius-topright: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-radius-bottomright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}

div.ui-slider-range-min {
    background: #BFF08E;
}

table.featureInfo, table.featureInfo td, table.featureInfo th {
    border-collapse:collapse;
    margin:0;
    padding:0;
    /*font-size: 90%;*/
    padding:0.2em 0.2em;
}
table.featureInfo td.attribute{
    vertical-align:top;
    font-weight:bold;
}
table.featureInfo td.varList{
    vertical-align:top;
}

table.featureInfo ul {
    margin-left:15px;
}
table.featureInfo th{
    border-collapse:collapse;
    padding:0.2em 0.2em;
    text-transform:uppercase;
    font-weight:bold;
    background:#69A1BA;
    color:white;
}
table.featureInfo caption{
    text-align:left;
    border-collapse:collapse;
    /*font-size:100%;*/
    font-weight:bold;
    text-transform:uppercase;
    padding:0.2em 0.2em;
}
table.featureInfo tr:nth-child(odd) {
    border-collapse:collapse;
    background-color:#E8EDEF;
}

table.metafeatureInfo, table.metafeatureInfo td, table.metafeatureInfo th {
    border-collapse:collapse;
    margin:0;
    margin-top:5px;
    padding:0;
    /*font-size: 95%;*/
    padding:0.4em 0.4em;
}
table.metafeatureInfo td.attribute{
    font-weight:bold;
    vertical-align:top;
}
table.metafeatureInfo td.varList{
    vertical-align:top;
}
table.metafeatureInfo ul {
    margin-left:15px;
}
table.metafeatureInfo th{
    border-collapse:collapse;
    padding:0.2em 0.2em;
    font-weight:bold;
}
table.metafeatureInfo caption{
    text-align:left;
    border-collapse:collapse;
    /*font-size:100%;*/
    padding:0.2em 0.2em;
}

table.metafeatureInfo tr:nth-child(odd) {
    border-collapse:collapse;
    background-color:#E8EDEF;
}
