ul.dataset-menu {
    padding-right: 0.5em;
}

ul.dataset-menu li {
    position: relative;
}

ul.dataset-menu li a {
    padding: 0.5em;
    color: #004361;
    display: block;
    font-weight: bold;
}

ul.dataset-menu li a:hover {
    background-color:#004361;
    color:white;
}

ul.dataset-menu ul {
    margin: 0;
    padding: 0;
    display: none;
}

ul.dataset-menu ul li {
    margin: 0;
    padding: 0;
    clear: both;
}

ul.dataset-menu ul li a {
    padding-left: 20px;
    font-size: 0.923em;
    font-weight: normal;
}

ul.dataset-menu ul li a:hover {
    background-color:#6AA2BB;
    color: white;
}

ul.dataset-menu ul ul li {
    padding-right: 0;
}

ul.dataset-menu ul ul li a {
    color:#6AA2BB;
    padding-left: 40px;
}

ul.dataset-menu ul ul li a:hover {
    background-color:#B0D79A;
    color:white;
}

ul.dataset-menu span{
    float: right;
}
