app_root: '{{ APP_ROOT | default('http://docker2.pcic.uvic.ca:8080') }}'
data_root: '{{ DATA_ROOT | default('http://docker2.pcic.uvic.ca:8080/data') }}'
title: ''
ensemble_name: ''
dsn: {{ DSN | default('postgresql://httpd_meta@db3.pcic.uvic.ca/pcic_meta') }}
pcds_dsn: {{ PCDS_DSN | default('postgresql://httpd@db3.pcic.uvic.ca/crmp') }}
js_min: false
geoserver_url: {{ GEOSERVER_URL | default('http://docker2.pcic.uvic.ca:8080/geoserver/') }}
ncwms_url: 
    - {{ NCWMS_URL | default('http://docker2.pcic.uvic.ca:8080/ncWMS/') }}
tilecache_url: 
    - http://a.tiles.pacificclimate.org/tilecache/tilecache.py
    - http://b.tiles.pacificclimate.org/tilecache/tilecache.py
    - http://c.tiles.pacificclimate.org/tilecache/tilecache.py
use_auth: {{ USE_AUTH | default('false') }}
session_dir: {{ SESSION_DIR | default('default') }}
clean_session_dir: {{ CLEAN_SESSION_DIR | default('true') }}
use_analytics: {{ USE_ANALYTICS | default('false')}}
analytics: {{ ANALYTICS | default('UA-20166041-3') }}
