{% set HOST = HOST | default('0.0.0.0') %}
{% set USER = USER | default('root') %}

[supervisord]
logfile=/root/pdp/etc/supervisord.log
loglevel={{ LOGLEVEL | default('info') }}
nodaemon={{ NODAEMON | default('true') }}

[unix_http_server]
file=/tmp/supervisor.sock

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:pdp_frontend]
command=/root/pdp/pyenv/bin/gunicorn -b {{ HOST }}:{{ FE_PORT | default('8000') }} --access-logfile=etc/access_log.txt --error-logfile=etc/error_log.txt pdp.wsgi:frontend
directory=/root/pdp/
user={{ USER }}
environment=PDP_CONFIG="/root/pdp_config.yaml"
autostart=true
autorestart=true
redirect_stderr=true
killasgroup=true

[program:pdp_backend]
command=/root/pdp/pyenv/bin/gunicorn -b {{ HOST }}:{{ BE_PORT | default('8001') }} --workers 10 --worker-class gevent -t 3600 --access-logfile=etc/access_log.txt --error-logfile=etc/error_log.txt pdp.wsgi:backend
directory=/root/pdp/
user={{ USER }}
environment=PDP_CONFIG="/root/pdp_config.yaml"
autostart=true
autorestart=true
redirect_stderr=true
killasgroup=true

[group:{{ VERSION | default('0.0.0') }}]
programs=pdp_frontend,pdp_backend
priority=999

